<div class="mx-auto w-2/3">
  <h1 class="text-4xl mb-8 font-extrabold block">Albie Pet Pics!</h1>

  <%= image_tag "albie_tired.jpeg", alt: "Sleepy Albie", class: "block rounded-lg brightness-95" %>
  <%= turbo_frame_tag "user_content" do %>
    <%= render "user_content" %>
  <% end %>
</div>

