<p>OH HAI you're a real user. Here's another picture of Albie!</p>
<%= image_tag "/images/albie_needs_attention.jpeg", alt: "Albie needing some attention",  class: "block rounded-lg brightness-95"  %>